.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.home-body-container {
  padding: 20px;
}

.home-horizontal-line {
  color: #cbd2d9;
}

.home-carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.loader-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .home-carousel-container {
    display: flex;
    flex-direction: column;
  }
}
