.sort-options-container {
  border-width: 0;
  background-color: transparent;
  color: #475569;
  font-size: 18px;
  font-family: 'DM Sans';
  margin-top: 0;
  font-weight: 500;
}

.home-title {
  color: #183b56;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 34px;
}

.home-title-description {
  color: #64748b;
  font-family: 'DM Sans';
  font-size: 20px;
}

.home-filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-icon {
  font-size: 25px;
  background-size: cover;
  margin-right: 10px;
}

.home-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-filter-title {
  color: #475569;
  font-size: 18px;
  font-family: 'DM Sans';
  margin-top: 0;
  font-weight: 500;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .home-filter-container {
    display: flex;
    flex-direction: column;
  }

  .home-title {
    font-size: 20px;
  }

  .home-filter {
    display: flex;
    justify-content: flex-start;
  }

  .home-title-description {
    font-size: 14px;
  }

  .filter-icon {
    font-size: 15px;
    margin-top: 0;
  }

  .home-filter-title {
    font-size: 14px;
    margin-top: 0;
  }

  .sort-item {
    font-size: 12px;
  }

  .sort-options-container {
    font-size: 14px;
    margin-top: 0;
  }
}
